/* Hello! I'm a stylesheet cos I've got style (⌐▨_▨) */

/* @import "./themes/themes.css"; */

html {
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

svg {
    fill: var(--h1-color);
}

.nav-area {
    height: 7vh;   
}

.header-area {
    padding-bottom: 0px;
    padding-top: 0px;
}

#title-area {
    text-align: center;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 93vh;
    padding-bottom: 17vh;
}

.body-area {
    overflow-x: hidden;
}

.nav-theme-area {
    padding-left: 30px;
}

.theme-toggle {
    cursor: pointer; 
}

[data-theme='light'] .sun-icon,
[data-theme='dark'] .moon-icon {
    display: none !important;
}

.nav-area-links {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    padding-right: 2dvw;
}

.nav-area-burger {
    display: none;
}

.title {
    font-size: 80px;
}

.account-links-area {
   
}

.account-links {
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.account-links a {
    display: block; /* Ensure it's a block-level element */
    width: 50px;
    height: 50px;
}

.account-links a svg {
    display: inline-block;
    height: 100%;
}

.down-button-area {
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Try and get this working at some point */
.down-button-area:hover {
    opacity: 1
}

.down-button {
    width: 70px; 
    height: 70px;
}

.main-area {
    padding-top: 0px;
    padding-bottom: 0px;
}

.article-area {
    margin-top: 0px;
}

.area-1 {
    height: 100%;
    margin-bottom: 0%;
}

.whoami-area {
    display: flex;    
}

.whoami-area-text {
    width: 48%; 
    margin-right: 2%;
    text-align: justify;
    text-justify: inter-word;
}

.whoami-text {
    margin-bottom: 0%;
}

.whoami-image {
    width: 48%; 
    margin-left: 2%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.project-item {
    background-color: var(--code-background-color);
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center */
}

.project-title {
    text-align: center;
    margin-bottom: 20px;
}

.project-img {
    height: 100px;
    margin-bottom: 10px;
}

.blog-area {
    display: flex;
    align-items: center; /* Vertically center */
    text-align: center;
    justify-content: center;
}

.blog-item {
    min-width:30%;
    min-height: 210px;
    background-color: var(--muted-border-color);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center */
    text-align: center;
    justify-content: center; /* Horizontally center */
}

.hammer-svg {
    display: flex;
}

.footer-area {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 980px) {
    html {
        scroll-padding: 30px;
    }

    .whoami-area {
        display: flex;
        flex-direction: column-reverse;
    }

    .whoami-title {
        margin-bottom: 3%;
    }

    .whoami-area-text {
        width: auto; 
        margin-right: 0%;
        text-align: justify;
        text-justify: inter-word;
    }

    .whoami-text {
        width: auto; 
        margin-right: 0%;
        margin-bottom: 0%;
    }
    
    .whoami-image {
        width: auto; 
        margin-left: 0%;
        margin-bottom: 3%;
    }
    .project-item {
        margin-top: 10px;
        margin-bottom: 10px; 
    }
}

@media screen and (max-width: 480px) {
    .nav-area-links {
        display: none;
    }

    .nav-area-burger {
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        width: 10%;
        margin-right: 2dvw !important;
    }

    .title {
        font-size: 60px;
    }

    .whoami-area {
        display: flex;
        flex-direction: column-reverse;
    }

    .whoami-title {
        margin-bottom: 3%;
    }

    .whoami-area-text {
        width: auto; 
        margin-right: 0%;
        text-align: justify;
        text-justify: inter-word;
    }

    .whoami-text {
        width: auto; 
        margin-right: 0%;
        margin-bottom: 0%;
    }
    
    .whoami-image {
        width: auto; 
        margin-left: 0%;
        margin-bottom: 3%;
    }

}

@media screen and (max-width: 310px) {
    .title {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    .container {
        /* This stops the content from looking squished width wise on wider monitors */
        max-width: 70% !important;
    }
}