/* Hello! I'm a stylesheet cos I've got style (⌐▨_▨) */

body {
    font-family: Montserrat;
}

header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1000;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
    font-weight: lighter;
}

.header-nav-item {
    color: black;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition:  0.3s ease;
    size: 10rem;
}

.header-nav-item:hover {
    font-size: 2.5em;
    color: lightgray;
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/montserrat/Montserrat-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
